@font-face {
    font-family: 'SukhumvitSet';
    src: url('@/assets/fonts/sukhumvittadmai_regular-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    src: url('@/assets/fonts/sukhumvittadmai_med-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    src: url('@/assets/fonts/sukhumvittadmai_bol-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    src: url('@/assets/fonts/SukhumvitSet-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    src: url('@/assets/fonts/SukhumvitSet-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    src: url('@/assets/fonts/SukhumvitSet-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  